/* @keyframes is an at-rule used to define animations */
@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* 'body' is a type selector */
body {
    font-family: 'Inconsolata', sans-serif;  /* custom web font */
    color: #333;
    line-height: 1.6;
	background: linear-gradient(to right, #f5f5f5, #fff, #f5f5f5);
    padding-bottom: 1.5em;  /* padding for box model */
    background-attachment: fixed;  /* attribute selector */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(./back.jpg);  /* background image */
}

.page-wrapper {
    max-width: 1200px;
    margin: 0 auto;  /* margin for box model */
    padding: 1em;  /* padding for box model */
    background: #fff;
    box-shadow: 0 2px 50px rgba(0, 0, 0, 1.5);  /* box shadow for creative element */
}

header, footer {
    background: #333;
    color: #f5f5f5;
    text-align: center;
    padding: 1em 0;  /* padding for box model */
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #099977);
    background-size: 400% 400%;
    animation: gradient 10s ease infinite;  /* animation for creative element */
	box-shadow: 0 2px 10px rgba(0, 0, 0, 1.5); 
}

/* '.header h1' is a child combinator selector */
header h1 {
    font-family: 'Poiret One', cursive;  /* custom web font */
    font-size: 5em;
    color: #868822;
    animation: fadeIn 2s ease-in-out;  /* animation for creative element */
}

header h2 {
    color: #b644c5;
    font-size: 1.6em;
    font-weight: bold;
}

/* 'div' is an ID selector */
#intro div {
    padding: 1em 0;  /* padding for box model */
}

h3 {
    font-size: 1.7em;
    color: #8c28ce;
}

p {
    margin-bottom: 1em;  /* margin for box model */
    color: #615b0c;
	font-size: 1.3em;
}

/* 'a' is a type selector with pseudo-class :hover */
a {
    color: #050505;
    text-decoration: none;
    transition: color 0.3s;
	font-weight: bold;
}

a:hover {
    color: #0056b3;
    text-decoration: underline;
}

footer {
    text-align: center;
    padding: 1em 0;  /* padding for box model */
    color: #777;
}

footer a{
	padding: 4em;
	font-size: 1.5em;
}

/* '.sidebar' is a class selector */
.sidebar {
    margin-top: 2em;  /* margin for box model */
}

.sidebar h3 {
    color: #007BFF;
    font-size: 1.3em;
    font-weight: normal;
    margin-bottom: 0.8em;  /* margin for box model */
}

/* '.sidebar nav ul' is a descendant combinator */
.sidebar nav ul {
    list-style: none;
    padding-left: 0;  /* padding for box model */
}

/* '.sidebar nav ul li' is a descendant combinator */
.sidebar nav ul li {
    margin-bottom: 0.4em;  /* margin for box model */
}

/* '.sidebar nav ul li a' is a descendant combinator with pseudo-class :hover */
.sidebar nav ul li a {
    display: inline-block;  /* attribute selector */
    padding: 5px 10px;  /* padding for box model */
}
